TassadarModule/Release/
TassadarModule/Debug/
TassadarModule/Tassadar.opensdf
TassadarModule/Tassadar.sdf
TassadarModule/Tassadar.suo
TassadarModule/Tassadar.sdf
TassadarModule/Tassadar.suo
TassadarModule/ipch/
TassadarModule/Tassadar.sdf
